/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************************************/

*,
*:before,
*:after{
    box-sizing: border-box;
    text-decoration: none;
}


body{
    margin: 0 auto;
    font-size: 1rem;
    font-family: Avenir;
    background: #FFE9E9;
}

a{
    text-decoration: none;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
}

.main-nav{
    margin-top: 25px;
    margin-right: 20px;
}
.main-nav li{
    display: inline-block;
    padding-left: 10px;
}

.main-nav a:link,
.main-nav a:visited{
    color: #DB6767;
}

.main-nav a:hover{
    color: #9B3232;
    transition: 0.5s;
}

.logo{
    max-height: 70px;
    max-width: 70px;
}

.greeting{
    display: block;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.wrap-banner{
    text-align: center;
}

.banner{
    position: relative;
    display: inline-block;
    margin: 0 30px;
    max-width: 70%;
    margin-top: 100px;
}


.cloud1{
    position: absolute;
    display: block;
    left: 25%;
    top: 10%;
    max-height: 20%;
    max-width: 20%;
    animation: cloud 15s infinite;
}

.cloud2{
    position: absolute;
    display: block;
    top: 30%;
    right: 325px;
    max-height: 25%;
    max-width: 25%;
    animation: cloud 20s infinite;
}

.cloud3{
    position: absolute;
    display: block;
    top: 25%;
    right: 9px;
    max-height: 20%;
    max-width: 20%;
    animation: cloud 15s infinite;
}


@keyframes cloud{
    20%{
        transform: translate(30px);
    }
    
    60%{
        transform: translate(-30px);
    }
    
    
     80%{
        transform: translate(20px);
    }
    
    
    100%{
        transform: translate(0px);
    }
      
}

.main{
    display: block;
    background: white;
    padding-bottom: 70px;
}


.intro{
    background: #FFFF;
    padding: 40px;
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #2C3C53;
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 30px;
}

p{
    line-height: 1.5;
    margin: 0 auto;
    max-width: 350px;
    padding-bottom: 50px;
}

.readmore{
    text-align: center;
    padding-top: 15px;
    background: #DB6767;
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 40px;
}

.readmore:link,
.readmore:visited{
    color: white;
}

.readmore:hover{
    background: #D3524F;
    transition: 0.5s ease-in-out;
}


.box1,
.box2,
.box3,
.box4{
    position: relative;
}

.illustration,
.uxuidesign,
.webdev,
.photography{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.text1,
.text2,
.text3,
.text4{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #2C3C53;
}

.box1:hover img,
.box2:hover img,
.box3:hover img,
.box4:hover img{
    opacity: 0.2;
}

.box1:hover .text1,
.box2:hover .text2,
.box3:hover .text3,
.box4:hover .text4{
    opacity: 1;
}

.sub-logo{
    position: absolute;
    max-width: 40%;
    max-height: 40%;
}

.footer-element{
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-element a:link,
.footer-element a:visited{
    color: #DB6767;
}

.footer-element a:hover{
    color: #9B3232;
    transition: 0.5s ease-in-out;
}

.sub-nav li{
    line-height: 2;
    margin-right: 40px;
}

.social-media{
    position: relative;
    display: flex;
}

.title-social-media{
    line-height: 2;
}


.instagram{
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
    margin-top: 7px;
}

.facebook{
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
    margin-top: 9px;
}

.youtube{
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
    margin-top: 13px;
}


.copyright{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: #DB6767;
}



/************************* TABLET ***********************************/


@media screen and (min-width:650px){
    
    .top{
        margin: 0 80px;
    }
    
    
    .logo{
        max-width: 90px;
        max-height: 90px;
    }
    
        
    .main-nav li{
        padding: 10px;
    }
    
    .greeting{
        max-width: 50%;
    }
    
    .cloud1{
        position: absolute;
        display: block;
        left: 25%;
        top: 10%;
        max-height: 20%;
        max-width: 20%;
        animation: cloud 15s infinite;
}

    .cloud2{
        position: absolute;
        display: block;
        top: 40%;
        right: 80%;
        max-height: 25%;
        max-width: 25%;
        animation: cloud 20s infinite;
    }

    .cloud3{
        position: absolute;
        display: block;
        top: 35%;
        right: 5%;
        max-height: 20%;
        max-width: 20%;
        animation: cloud 15s infinite;
    }
    

    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .illustration,
    .uxuidesign,
    .webdev,
    .photography{
        padding: 10px;
        max-width: 400px;
        max-height: 400px;
    }
    
    .sub-nav li{
        margin-right: 150px;
    }
    
}



/************************* DESKTOP **********************************/


@media screen and (min-width:960px){
    
    .top{
        margin: 0 200px;
    }
    
    .logo{
        max-width: 120px;
        max-height: 120px;
    }
    
    .main-nav li{
        margin-top: 15px;
        font-size: 1.2rem;
        padding: 10px;
    }
    
    .greeting{
        max-width: 40%;
    }
    
    .banner{
        max-width: 60%;
        margin-top: 60px;
    }
    
    .cloud1{
        position: absolute;
        display: block;
        left: 25%;
        top: 13%;
        max-height: 20%;
        max-width: 20%;
        animation: cloud 15s infinite;
}

    .cloud2{
        position: absolute;
        display: block;
        top: 50%;
        right: 75%;
        max-height: 25%;
        max-width: 25%;
        animation: cloud 20s infinite;
    }

    .cloud3{
        position: absolute;
        display: block;
        top: 40%;
        right: 5%;
        max-height: 20%;
        max-width: 20%;
        animation: cloud 15s infinite;
    }
    
    p{
        font-size: 1.2rem;
        max-width: 450px;
    }
    
    .readmore{
        font-size: 1.2rem;
    }
    
     .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        padding: 70px 30px;
    }
    
    .illustration,
    .uxuidesign,
    .webdev,
    .photography{
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;

    }
    
    .sub-nav li{
        margin-right: 250px;
        font-size: 1.1rem;
        line-height: 2.5;
    }
    
    .title-social-media{
        font-size: 1.1rem;
        line-height: 2.5;
    }
    
    .instagram{
        max-width: 30px;
        max-height: 30px;
        margin-right: 20px;
    }
    
    .facebook{
        max-width: 30px;
        max-height: 30px;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    .youtube{
        max-width: 30px;
        max-height: 30px;
        margin-right: 20px;
        margin-top: 16px;
    }
    
    .copyright{
        margin-top: 150px;
    }
    
}








